.carousel-wrap {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    flex-shrink: 0;
    align-items: center;
    overflow-x: hidden;
}

.carousel-wrap li {
  transition: 0.5s ease-in;
}

.carousel {
    margin-top: 2%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
}

.carousel li {
    height: 85%;
    width: 75%;
}

.center-li {
    position: absolute;
    margin: 0;
    box-shadow: 0px 0px 10px black;
    opacity: 1;
    z-index: 1;
}

.carousel:focus {outline: 0}

.right-li, .left-li {
    /* transform: scaleY(1);
    transition-duration: 0.5s;
    transition: 0.5s ease-in; */
    opacity: 0.6;
    box-shadow: none;
}


.left-li:hover {
    cursor: pointer;
    opacity: 0.8;
}

.right-li:hover {
    opacity: 0.8;
    cursor: pointer;
}

.carousel-wrap:focus {
    outline: 0;
}

li {
    list-style: none;
}

.empty {
    border: none;
    box-shadow: white;
}

img {
    height: 100%;
    object-fit: cover;
}