.carousel-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    flex-shrink: 0;
    align-items: center;
    overflow-x: hidden;
}

.carousel-wrap li {
  transition: 1s ease-in;
}

.carousel {
    margin-top: 2%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
}

.carousel li {
    height: 85%;
    width: 80%;
}

.center-li {
    position: absolute;
    margin: 0;
    box-shadow: 0px 0px 10px black;
    transition: 1s ease-in;
    transform: scale(1);
    transition-duration: 0.7s;
    opacity: 1;
}

.carousel-wrap:focus {outline: 0}

.right-li, .left-li {
    transform: scale(1);
    transition-duration: 0.7s;
    transition: 1s ease-in;
    opacity: 0.6;
    box-shadow: none;
}

.left-li {
    margin-left: -75%;
}

.right-li {
    margin-right: -75%;
}

.carousel-wrap:focus {
    outline: 0;
}

li {
    list-style: none;
}

.empty {
    border: none;
    box-shadow: white;
}

img {
    height: 100%;
    object-fit: cover;
}