.photo-container {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.image {
    width: 100%;
}

/* CSS transition effects */

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
  transition: opacity 1000ms linear;
  opacity: 1;
}

/* enter */
/* .fade-enter {
  opacity: 0;
} 
.fade-enter.fade-enter-active {
    transition: opacity 2000ms linear;
    opacity: 1;
}  */

/* exit */
/* .fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    transition: opacity 5000ms linear;
    opacity: 0;
}
.fade-exit-done {
  opacity: 0;
}  */

.caption {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    font-weight: 900;
    color: white;
    text-shadow: 0px 0px 10px black;
    margin-bottom: 0px;
}

.leftArrow, .rightArrow{
    position: absolute;
    font-size: 44px;
    font-weight: 900;
    color: white;
    text-shadow: 0px 0px 10px black;
    opacity: 0.5;
    transition: 1s ease;
}

.left-li:hover .leftArrow, .right-li:hover .rightArrow {
    opacity: 1;
    text-shadow: 0px 0px 20px black;
    transition: 1s ease;
}

.leftArrow {
    margin-left: 10%;
}

.rightArrow {
    right: 10%;
}